<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/Database" auth="Container" type="javax.sql.DataSource"
              maxActive="100" maxIdle="30" maxWait="10000"
              username="postgres" password="728728" driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://host.docker.internal:5432/clb"/>
</Context>
